.menu-bar {
  //display: none;
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  height: 58px;

  .inner {
    display: flex;
  }

  .action {
    margin: 0 auto;
    justify-content: center;
    color: #707070;

    div {
      font-size: 8px;
    }

    i {
      font-size: 18px;
    }

    &:last-child {
      font-size: 12px;
      text-align: center;
    }

    &:active {
      color: #000;
    }
  }

  .one-half {
    flex: 50%;
    display: flex;
    padding-top: .5em;
  }
}


@media screen and (max-width: 749px) {
  .menu-bar {
    display: block;
  }
}