.list-wrapper {
  max-width: 760px;
  background-color: lightblue;
  margin: 0 auto;
  margin-top: 1em;

  .list-wrapper__shows {
    display: grid;
    width: 100%;
    margin-top: 1em;
  }

  .list-wrapper__episodes {
    width: 100%;
    margin-top: 1em;
  }

  .list-wrapper__episodes.home {
    background-color: red;
    display: flex;
    margin-top: 2em;
  }
}

@media screen and (max-width: 749px) {
  .list-wrapper {
    margin-top: 1em;

    .list-wrapper__shows {
      grid-template-columns: auto auto auto;
      column-gap: 30px;
    }
  }
}