.show-item__wrapper {
  width: 150px;
  margin-bottom: 10px;
}

.show-item__image img {
  width: 150px;
  height: 150px;
}

.show-item__title span {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

@media screen and (max-width: 749px) {
  .show-item__wrapper {
    width: 100px;
  }

  .show-item__title span {
    font-size: 10px;
  }

  .show-item__image img {
    width: 100px;
    height: 100px;
  }

}