.episodes-wrapper.home {
  display: flex;
  flex-direction: column;

  .lister {
    display: flex;
    flex-direction: column;
  }

  .header {
    margin: 1em 0 0 0;
  }

  .episode {
    display: flex;
    padding: 1em;

    .cover {
      width: 68px;
      height: 68px;
      background-color: grey;
      align-self: center;
      //flex: 20%;
    }

    .episode-info {
      flex: 60%;
      margin-left: 1em;
      display: flex;
      flex-direction: column;

      .release-info {
        display: flex;
        flex-direction: row;
        font-size: 13px;
      }

      .description {
        font-size: 12px;
      }

      .show-name {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .episodes-wrapper.home {
    .header {
      margin: 1em 1em 0 1em;
    }
    .episode {
      padding: .5em 1em;
      .cover {
        width: 40px;
        height: 40px;
      }

      .episode-info {
        .description{display: none;}
        .date {font-size: 8px;}
        .time {font-size: 8px;}
        .show-name{
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}