.show-wrapper {
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  //filter: brightness(1.1);
  //margin-bottom: 10em;
}

.show {
  max-width: 1004px;
  margin: 1em auto;
  display: flex;

  .cover {
    .fake-img {
      width: 150px;
      height: 150px;
      background-color: lightgray;
      align-self: center;
    }

    img {
      width: 150px;
      height: 150px;
      align-self: center;
    }

    .bio {
      display: none;
    }
  }

  .show-info {
    flex: 60%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;

    .bio {
      display: flex;
      flex-direction: row;
    }

    .name {
      font-weight: 800;
    }

    .author {
      font-size: 12px;
      align-self: center;
      margin-left: 5px;
    }

    .description {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 749px) {
  .show {
    flex-direction: column;
    padding: 1em;
    margin: 0;
    width: 100%;
    
    .cover {
      display: flex;
      flex-direction: row;
      .fake-img {
        width: 100px;
        height: 100px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      .bio {
        display: block;
        margin-left: 1em;
      }
    }

    .show-info {
      .bio {display: none;}
      margin-left: 0;
      margin-top: 1em;
    }
  }
}

//Episode
.wrapper-outer {
  max-width: 1004px;
  margin: 0 auto;
}

#podcast-episode {
  .image-cover img{
      width: 100px;
      height: 100px;
  }

  .profile-details {
      .podcast-title {
          font-size: 2em;
          margin-top: -16px;
      }
      .podcast-author {
          margin-top: 0;
      }
  }
}


.episode-meta { 
  padding: 0 2em 2em 2em;
  margin-left: -15px;
  margin-right: -15px;
}
.episode-header {
  .play-button {
      //display: flex;
      border: 1px solid grey;
  }
}
.episode-notes {
  margin: 2em auto 0;
  max-width: 1004px;
}

@media screen and (max-width: 749px) {
  .notes-inner {
    padding: .5em 1em;
  }

  .episode-notes {
    margin-top: 1em;
  }

  #podcast-episode {
    .hidden {
        width: 50px;
        height: 50px;
    }

    .profile-details {
        .podcast-title {
            font-size: 1rem;
            margin-top: 0;
        }
        .podcast-author {
            font-size: .7rem;
        }
        .podcast-date-length {
            color: grey;
            //font-size: 13px;
        }
    }

    .profile {
        border-bottom: none;
        margin-top: 0;
    }
}

.episode-meta {
    padding: 0 1em .5em 1em;
    
}

.episode-header {
    .episode-title {
        font-size: 1.5rem;
    }
}
}

