.shows-lister {
  display: flex;
  flex-direction: column;

  .header {
    margin: .5em 0 .5em 0;
    font-size: 1.8rem;
    font-weight: 800;
    z-index: 1;
  }

  .bg-splash {
    background-color: #F43E37;
    height: 171px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .lister {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }

  .show-lister-item {
    display: flex;
    flex-direction: column;
    width: 200px;

    .cover {
      //background-color: grey;
      width:200px;
      height: 200px;

      img {
        width: 200px;
        height: 200px;
      }
    }

    .name {
      font-size: 1rem;
      font-weight: 800;
      //text-align: center;
    }
  }
}

@media screen and (max-width: 749px) {
  .shows-lister {
    .header {display: none;}

    .lister {
      grid-template-columns: auto auto auto;
      grid-column-gap: 0;
    }

    .bg-splash {display: none;}

    .show-lister-item {
      width: 125px;


      .cover {
        width: 125px;
        height: 125px;

        img {
          width: 125px;
          height: 125px;
        }
      }

      .name{display: none;}
    }
  }
}