.player {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;

  .currently-playing {display: none;}
  //pointer-events: none;
}

.playing-cover, .playing-details {display: none;}

@media screen and (max-width: 749px) {
  .rhap_container {
    background-color: #F5F5F5 !important;
    padding: 10px 0 0 0 !important;
  }
  .rhap_additional-controls, .rhap_volume-controls {
    display: none !important;
  }
  .rhap_main-controls {
    margin:  0 auto;
    flex: 10% !important;
  }

  .rhap_time {
    display: none;
  }
  
  .rhap_main * {
    color: #000;
  }

  .rhap_progress-container {
    margin-bottom: -10px !important;
    /* position: absolute; */
    /* bottom: 10px; */
    z-index: 100;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .rhap_progress-bar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 2px;
  }

  .rhap_progress-indicator {
    background-color: #000 !important;
  }

  .rhap_rewind-button, .rhap_forward-button {
    display: none;
  }

  .playing-cover {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 9px;
    flex: 10%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 2px;
    }
  }

  .playing-details {
    display: block;
    flex: 60%;
    .playing-title {
      font-size: 16px;
      overflow-x: hidden;
    }
  }

  .player {
    position: fixed;
    z-index: 60;
    bottom: 58px;
    width: 100%;

    
  }
  
}