@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  width: 960px;
  margin: 0 auto;
}

a {
 color: #000 !important;
 text-decoration: none;
}

a:hover {
  color: #000 !important;
}

.left-col {
  flex: 40%;
}
.right-col {
  flex: 60%;
}

@media screen and (max-width: 749px) {
  .contain {
    width: auto;
  }
  .left-col {
    flex: 100%;
  }

  .right-col {
    flex: 100%;
  }
  
}

/*
div {
  color: rgb(119, 119, 119);
}
*/