@use '../components/layout/nav/navigation';
@use '../templates/home/main';
@use '../components/listers/lister/show-lister.component';
@use '../components/listers/lister/lister.component';
@use '../components/listers/lister/episode-lister';
@use '../components/listers/episode-item/episodeItem.scss';

.main-wrapper {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: lightyellow;
}
