a {
  color: #000 !important;;
  &:hover {
    text-decoration: none !important;
    color: #000 !important;
  }
}

nav a {
  &:hover {
    text-decoration: none !important;
    color: #000 !important;
  }
}