#navigation {
    height: 75px;
    width: 100%;
    position: relative;
    

    .inner {
        display: flex;
        height: 75px;
        width: 100%;
        //background-color: red;

        align-items: center;
        //margin: 0 1em;

    }

    .logo {
        img {
            width: 50px;
        }
    }
}

.nav {
   a {
       color: black;
   } 

   .site-title {
       margin-left: 7px;
       font-size: 1.5em;
       font-weight: 800;
   }
}

@media screen and (min-width: 749px) {
    #navigation {
        background-color: #fff !important;
    }
}