.profile {
    display: flex;
    margin-top: 2em;
    padding: 2em;
}

.image-cover {
    img {
        width: 300px;
        height: 300px;
    }
}

.profile-details {
    //flex: 60%;
    //padding-left: 2em;
    
    .podcast-title {
        //margin-left: 1em;
        font-size: 3em;
        font-weight: 500;
        margin-top: -16px;
    }

    .podcast-author {
        margin-top: -12px;
        padding-left: 5px;
    }

    .podcast-bio {
        margin-top: 1em;
        justify-content: flex-end;
        //max-width: 80%;
    }

    .hidden {
        width: 100px;
    }
}


@media screen and (max-width: 749px) {

    .image-cover img {
        width: 125px;
        height: 125px;
    }

    .profile {
        margin-top: 0;
        padding: .5em;

        border-bottom: 1px solid grey;
    }

    .profile-details {
        padding-left: .5em;

        .details-wrapper {
            display: flex;
        }

        .details-inner {
            margin-left: 5px;
        }

        .podcast-title {
            font-size: 1.5em;
            margin-top: 0;
        }

        .podcast-author {
            margin-top: 0;
            padding-left: 0;
        }

        .podcast-bio {
            font-size: 14px;
        }
    }
}